<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container"></div>
    <div class="header">
        ASP.NET CORE DEMO APP
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
